body{
    background-color: #1E1B18;
}

#logo {
    height: 100px;
    width: 250px;
}

#navbar{
    background-color: rgba(3,6,3,0.81);
    max-height: 60px;
}

h3{
    color: rgba(3,6,3,0.88);
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Good Times Rg" ;
}



.card{
    height: 210px !important;
    width: 144px !important;
}

#image{
    height: inherit;
    width: inherit;
    /* Width Limite */
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

#middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

#text {
    height: inherit;
    width: inherit;
    color: white;
    font-size: 15px;
    padding: 16px 32px;
}

th{
    color: white;
}

.card{
    width: 10rem;
}

.card:hover #image {
    opacity: 0.3;
}

.card:hover #middle {
    opacity: 1;
}


#centered{
    background: #cdc49b;
    margin: 0;
    padding: 0;
}

#r {
    background-color: rgba(0,0,0,0.84);
}


* {
    padding: 0;
    margin: 0;
}

.nav-link{
    color: #cdc49b;
    font-family: "Good Times Rg";
}

#vbg{
    background-color: #1E1B18;
}

#video {
    width: 100%;
    height: auto;
}

#btnEpsN{
    display: block;
    width: 100%;
    border: none;
    height: 29px;
    padding: 0;
    margin: 0;
    text-align: center;
}

#npm{
    padding: 0;
    margin: 0;
}

#pfp{
    height: 40px;
    width: 40px;
}

.coment{
    color: white;
}

.coment h6{
    font-size: 18px;
}

.comentario{
    width: 100%;
}

.comentario-head{
    color:white;
}

.comentario-body{
    color: white;
}

.flag{
    height: 30px;
    float: right;
}

#btnEpsN{
    color: #cdc49b;
    background-color: #1E1B18;
    border: none;
}

#btnEpsN:hover{
    background-color: #cdc49b;
    color: #1E1B18;
}

.seriesinfo{
    background-color: #1E1B18;
}

.seriestitle{
    width: 100%;
    background-color: #cdc49b;
    margin-bottom: 0;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.seriesdescription{
    width: 100%;
    background-color: #cdc49b;
    margin-bottom: 0;
    font-size: 15px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.seriesthumbinfo{
    height:100%;
    margin-left: 0%;
    padding-left: 0%;
}

.temporadadp{
    background-color: #cdc49b;
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.episodiodp{
    background-color: #ffffff;
}

.tempname a{
    border-top-left-radius: 0px;
    font-family: "Good Times Rg";
    font-size: 25px;
    width: 100%;
    color: #1E1B18;
    background-color: #cdc49b;
}

.tempname a:hover{
    color: #cdc49b;
    background-color: #1E1B18;
}

.tempname a:checked{
    color: white;
    background-color: white;
}

.templist{
    width: 100%;
    color: #1E1B18;
    background-color: #cdc49b;
    list-style-type: none;
}

.templist li{
    width: 100%;
    color: #1E1B18;
    font-size: 20px;
    background-color: #cdc49b;
}

.templist li a{
    padding-top: 1%;
    text-decoration: none;
    width: 100%;
    color: #1E1B18;
    background-color: #cdc49b;
}

.templist li:hover{
    width: 100%;
    color: #cdc49b;
    background-color: #1E1B18;
}

.templist li a:hover{
    text-decoration: none;
    width: 100%;
    color: #cdc49b;
    background-color: #1E1B18;
}

.seguir{
    border-style: none;
    font-size: 20px;
    color: #1E1B18;
    background-color: #cdc49b;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2%;
}

.seguirDone{
    border-style: none;
    font-size: 20px;
    color: #cdc49b;
    background-color: #1E1B18;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2%;
}

.seguirDone:hover{
    text-decoration: none;
    border-style: none;
    color: #1E1B18;
    background-color: #cdc49b;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2%;
}

.seguir:hover{
    border-color: #cdc49b;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    text-decoration: none;
    color: #cdc49b;
    background-color: #1E1B18;
}

.suprise{
    font-family: "Good Times Rg";
    border-style: none;
    color: #1E1B18;
    background-color: #cdc49b;
    font-size: 40px;
    padding-top: 4%;
    padding-bottom: 4%;

}

.suprise:hover{
    text-decoration: none;
    color: #cdc49b;
    background-color: #1E1B18;
}

.modal-header{
    color: #cdc49b;
    background-color: #1E1B18;
}

.modal-body{
    color: #cdc49b;
    background-color: #1E1B18;
}

.logintitle{
    color: #cdc49b;
    background-color: #1E1B18;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Good Times Rg";
    font-size: 35px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0;
}

.loginuser{
    font-family: "Good Times Rg";
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.loginbutton{
    border-style: none;
    font-family: "Good Times Rg";
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #1E1B18;
    background-color: #cdc49b;
}

.loginbutton:hover{
    color: #cdc49b;
    background-color: #1E1B18;
}

.logindiv{
    margin-top: 10%;
}

.backgroundBodied{
    background-image: url("../img/bg/BackgroundAPLogin.png");
    min-height: 730px;
}

.dropdown{
    position: static !important;
    font-family: "Good Times Rg";

}

.dropdown-menu{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: 0px !important;
    width: 100% !important;
}

.dropdown-item{
    color: #cdc49b !important;
    text-align: end !important;
}

.dropdown-item:hover{
    color: #1E1B18 !important;
    background-color: #cdc49b !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color: #1E1B18;
}

.mypfpbg{
    background-image: url("../img/bg/BackgroundAPLogin.png");
    border-bottom: #1E1B18;
}

.myprofilepfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width: 250px;
    border-style: solid;
    border-width: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #cdc49b;
    border-bottom: none;
    background-color: #1E1B18;
}

.mypusername{
    color: #1E1B18;
    background-color: #cdc49b;
    margin-bottom: 0;
}

.mypemail{
    color: #1E1B18;
    background-color: #cdc49b;
    margin-bottom: 0;
}

.mypedit{
    color: #cdc49b;
    background-color: #1E1B18;
    font-size: 25px;
    text-decoration: none;
    font-family: "Good Times Rg";
}

.mypedit:hover{
    color: #1E1B18 !important;
    background-color: #cdc49b !important;
    text-decoration: none;

}

.hubt{
    color: #1E1B18;
    background-color: #cdc49b;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.hubp{
    color: #cdc49b;
    background-color: #1E1B18;
    font-size: 18px;
    font-family: Helvetica;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0;
}

.btnEdit{
    padding:1%;
    float: right;
}

.editImg{
    height: 30px;
}

.addTemp{
    font-family: "Good Times Rg";
    font-size: 25px;
    width: 100%;
    color: #1E1B18;
    background-color: #D8315B;
    display: block;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

.addTemp:hover{
    text-decoration:none;
    color: #D8315B;
    background-color: #1E1B18;
}

.editTemp{
    font-family: "Good Times Rg";
    color: #1E1B18;
    border-top-left-radius: 15px !important;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 15px !important;
    text-decoration: none;
    background-color: #3E92CC !important;
}

.gerirTemp{
    font-family: "Good Times Rg";
    color: #cdc49b !important;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 15px !important;
    text-decoration: none;
    background-color: #0A2463 !important;
}

.remTemp{
    color:#1E1B18;
    font-family: "Good Times Rg";
    border-top-right-radius: 15px !important;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 15px !important;
    text-decoration: none;
    background-color: #D8315B !important;
}

.editTemp:hover{
    color: #3E92CC !important;
    background-color:#1E1B18 !important;
    text-decoration: none;
}

.gerirTemp:hover{
    color: #0A2463 !important;
    background-color:#cdc49b !important;
    text-decoration: none;
}

.remTemp:hover{
    color: #D8315B !important;
    background-color:#1E1B18 !important;
    text-decoration: none;
}

.fm{
    background-color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.titlefm th{
    color: black;
}

.descfm th{

}

.formSerie{
    margin-right: 25%;
    margin-left: 25%;
}

.formTitle{
    color: #1E1B18;
    background-color: #cdc49b;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

.formBody{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0;
    color: #cdc49b;
    background-color: #1E1B18;
}

.labelEdit{
    padding-top: 1%;
    color:#cdc49b;
}

.btnSubmitEdit{
    margin: 0;
    padding: 0;
    display: block !important;
    color: #0A2463 !important;
    background-color:#cdc49b !important;
    border-style: none;
    height: 35px;
    border-radius: 10px;
}

.btnSubmitEdit:hover{
    color: #cdc49b !important;
    background-color: #0A2463 !important;
}

.staffPostCarousel{
    max-height: 500px !important;
    margin-right: 0 !important;
}

.staffPostCarousel a:hover{
    text-decoration: none;
}

.spcHeader h3{
    background-color: #cdc49b;
    color: #1E1B18;
    font-size: 30px;
    margin-bottom: 0;
}

.spcHeader h3:hover{
    background-color: #1E1B18;
    color: #cdc49b;
    text-decoration: none;
}

.spcBody{
    max-height: 500px !important;
    height: 500px;
}

.videoHub{
    margin-bottom: 0 !important;
}

.compostimg{
    width: 100%;
    height: 100%;
}

.mlptitle{
    width: 100%;
    font-size: 30px;
    background-color: #cdc49b;
    color: #1E1B18;
    margin-left: 0 !important;
    font-family: "Good Times Rg";
    margin-bottom: 0;
}

.mlplist{
    list-style-type:none;
}

.mlplistitem{
    background-color: #1E1B18;
    color: #cdc49b;
    text-decoration: none;
}

.mlplistitem a{
    text-decoration: none;
    background-color: inherit;
    color: inherit;
    font-size: 20px;
}

.mlplistitem:hover{
    background-color: #cdc49b;
    color: #1E1B18;
}

.mlplistitem a:hover{
    text-decoration: none;
    width: 100%;
    background-color: #cdc49b;
    color: #1E1B18;
}

.postbody{
    padding: 2%;
    margin-left: 0 !important;
    background-color: #1E1B18;
    color: #cdc49b;
}

.authorname{
    background-color: #cdc49b;
    color: #1E1B18;
    width: 100%;
    padding: 1%;
    margin: 0;
    display: inline-block;
    font-size: 20px;
}

.pfpauthor{
    padding: 0 !important;
    height: 60px;
    width: 60px;
    margin: 0;
    float: right;
}

.imgPost{
    width: 100%;
}

.hubbtn{
    margin-top: 0;
    background-color: #cdc49b;
    color: #1E1B18;
    display: block;
    padding: 1%;
    font-size: 20px;
}

.hubbtn:hover{
    text-decoration: none;
    background-color: #1E1B18;
    color: #cdc49b;
}

.smallPostHeader{
    text-align: center;
    margin-top: 1%;
    background-color: #cdc49b;
    color: #1E1B18;
    display: block;
    padding: 1%;
}

.smallPostBody{
    text-align: center;
    width: auto;
    max-height: 200px !important;
}

.smallPostFooter{
    background-color: #1E1B18;
    color: #cdc49b;
}

.smallPostBody img{
    width: auto;
    max-height: 200px !important;
}

.smallPostBody video{
    width: auto;
    max-height: 200px !important;
}

.smallPost{
    background-color: rgba(0,0,0,0.84);
    margin: 0;
    padding: 0;
}

.smallPost:hover{
    text-decoration: none;
}

.editHub{
    color: #cdc49b !important;
    background-color:#0A2463 !important;
    margin-top: 0;
    display: block;
}

.remHub{
    margin-top: 0;
    display: block;
    color: #1E1B18 !important;
    background-color: #D8315B !important;
}

.editHub:hover{
    text-decoration: none;
    color:#0A2463  !important;
    background-color:#cdc49b !important;
}

.remHub:hover{
    text-decoration: none;
    color: #D8315B !important;
    background-color:#1E1B18 !important;
}

.logButton{
    margin-top: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    font-size: 30px;
    background-color:  #1E1B18;
    color:#cdc49b;
}

.logButton:hover{
    text-decoration: none;
    background-color:  #cdc49b;
    color: #1E1B18;
}

.searchdiv{
}

.searchbtn{
    background-color: #1E1B18 !important;
    color:#cdc49b !important;
}

.searchbtn:hover{
    text-decoration: none !important;
    background-color:  #cdc49b !important;
    color: #1E1B18 !important;
}

@media all and (max-width: 1000px) {

    .searchdiv{

    }

    .backgroundBodied{
        min-height: 610px;
    }

    #navbar{
        background-color: rgba(3,6,3,0.81);
        max-height: 100%;
    }

    .seguir{
        border-style: none;
        font-size: 11px;
        color: #1E1B18;
        background-color: #cdc49b;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        margin-bottom: 2%;
    }

    .seguirDone{
        border-style: none;
        font-size: 11px;
        color: #cdc49b;
        background-color: #1E1B18;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        margin-bottom: 2%;
    }

    .logintitle{
        margin-left: 10%;
        margin-right: 10%;
    }

    .loginuser{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .loginbutton{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .card-group{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .dropdown-item{
        color: #cdc49b !important;
        text-align: start !important;
    }

    .card{
        height: 210px !important;
        width: 144px !important;
        display: inline-block !important;
    }

    #image{
        height: inherit;
        width: inherit;
        /* Width Limite */
        opacity: 1;
        display: inline-block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    #middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .container:hover .image {
        opacity: 0.3;
    }

    .container:hover .middle {
        opacity: 1;
    }

    #text {
        height: inherit;
        width: inherit;
        color: white;
        font-size: 15px;
        padding: 16px 32px;
    }

    .formSerie{
        margin-right: 10%;
        margin-left: 10%;
    }

    .formTitle{
        color: #1E1B18;
        background-color: #cdc49b;
        margin-bottom: 0;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 40px;
    }

    .formBody{
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 0;
        color: #cdc49b;
        background-color: #1E1B18;
    }

    .labelEdit{
        padding-top: 1%;
        color:#cdc49b;
    }

    .btnSubmitEdit{
        margin: 0 !important;
        padding: 0 !important;
        display: block !important;
        color: #0A2463 !important;
        background-color:#cdc49b !important;
        border-style: none;
        height: 35px;
        border-radius: 10px;
    }

    .card{
        margin: 0 auto !important;
        padding: 0 !important;
        height: 200px !important;
        width: 100% !important;
    }

    #image{
        margin: 0 auto !important;
        padding: 0 !important;
        height: inherit;
        width: inherit;
        /* Width Limite */
        object-fit: cover;
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    #middle {
        margin: 0 auto !important;
        padding: 0 !important;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .container:hover .image {
        opacity: 0.3;
    }

    .container:hover .middle {
        opacity: 1;
    }

    #text {

        height: inherit;
        width: inherit;
        color: white;
        font-size: 15px;
        padding: 16px 32px;
    }

    th{
        color: white;
    }

    .card{
        width: 10rem;
    }

    .card:hover #image {
        opacity: 0.3;
    }

    .card:hover #middle {
        opacity: 1;
    }

    #r{
        margin: 0 auto !important;
        padding: 0 !important;
    }

    .c{
        margin: 0 auto !important;
        padding: 0 !important;
    }

    .spcHeader h3{
        background-color: #cdc49b;
        color: #1E1B18;
        font-size: 15px;
        margin-bottom: 0;
    }

    .spcBody{
        max-height: 500px !important;
        height: 100%;
        width: 100%;
    }
}
